footer {
    display: flex;
    margin: 1% 20%;
    justify-content: space-between;
    padding-bottom: 10px;
}
#sortButton {
    border: none;
    font-size: large;
    text-align: center;
    background-color: rgba(1, 1, 1, 0);
}
#sortButton:hover {
    cursor: pointer;
}
#sortButton:focus {
    outline: none;
}
#loggedOutIn {
    display: flex;
    align-items: center;
}
#loggedOutIn h3 {
    margin-right: 5px;
    text-align: center;
}
#logoutTimer {
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
    width: 20px;
}
.footerValues {
    display: flex;
}
.footerValues h3 {
    margin-right: 5px;
    padding-top: 15%;
}
.footerValueP {
    font-size: 25px;
    color: limegreen;
}
.footerValueN {
    font-size: 25px;
    color: crimson;
}


